<!--<app-basic-line-echarts></app-basic-line-echarts>-->
    <div class="row">
      <div class="col col-12 col-md">
        <div echarts [options]="options" class="chart"></div>
      </div>
    </div>
    <!--Barra de heerramientas de las gráficas-->
    <div class="row" id="date-range">
      <div class="col col-1 col-md-4 col-sm-6" style="height: 50px;">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            Start Date
          </span>
          <input
            type="datetime-local"
            class="form-control"
            name="startDate"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="inputStarDate"
            (ngModelChange)="btnWeekEPSOutCurrent(4)"
          />
        </div>
      </div>
  
      <div class="col col-1 col-md-4" style="height: 50px;">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">End Date</span>
          <input
            type="datetime-local"
            class="form-control"
            name="endDate"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="inputEndDate"
            (ngModelChange)="btnWeekEPSOutCurrent(5)"
          />
        </div>
      </div>
  
      <div class="col col-1 col-md-4" style="height: 50px;">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="btnWeekEPSOutCurrent(7)"
        >
          1 week
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="btnWeekEPSOutCurrent(3)"
        >
          3 day
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          (click)="btnWeekEPSOutCurrent(1)"
        >
          24h
        </button>
      </div>
    </div>