.rojo {
    background-color: red; 
}
.rojoClaro {
    background-color: #FE7272; 
}
.amarilloOscuro {
    background-color: #FBD902;
}

.amarillo {
    background-color: yellow;
}

.amarilloClaro {
    background-color: #F9E87C;
}

.verde {
    background-color: green;
}

.azul {
    background-color: #02FBFB;
}