<!-- =====================================================================================-->

<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img src="./assets/facsat.png" alt="" width="150" height="150" />
    </div>

    <ul class="list-unstyled components">
      <p>FACSAT-1 DASHBOARD</p>
      <li class="active">
        <a
          href="#COMSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          COM status
        </a>
        <ul class="collapse list-unstyled" id="COMSubmenu">
          <li>
            <a href="#">Total rx bytes: {{ tot_rx_count }}</a>
          </li>
          <li>
            <a href="#">Total tx bytes: {{ tot_tx_count }}</a>
          </li>
          <li>
            <a href="#">Last RSSI: {{ last_rssi }} dBm</a>
          </li>
          <li>
            <a href="#">last RF error: {{ last_rferr }} Hz</a>
          </li>

          <li>
            <a href="#">Backgroun RSSI: {{ bgnd_rssi }} dBm</a>
          </li>
          <li>
            <a href="#">COM Bost Count: {{ boot_count }}</a>
          </li>
          <li>
            <a href="#">PA Temperature: {{ temp_pa }} °C</a>
          </li>
          <li>
            <a href="#">Reboot Cause: {{ temp_brd }}</a>
          </li>
          <li>
            <a href="#">Last contac: {{ last_contact }}</a>
          </li>
        </ul>
      </li>
      <!--Menú de EPS-->
      
      <li>
        <a
          href="#EPSSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          EPS status
        </a>
        <ul class="collapse list-unstyled" id="EPSSubmenu">
          <li>
            <a href="#">WDE: {{ WDE_curout }} mA</a>
          </li>
          <li>
            <a href="#">GPS: {{ GPS_curout }} mA</a>
          </li>
          <li>
            <a href="#">AX100: {{ AX100_curout }} mA</a>
          </li>
          <li>
            <a href="#">CAM: {{ CAM_curout }} mA</a>
          </li>
          <li>
            <a href="#">OBC: {{ ADCS_curout }} mA</a>
          </li>
          <li>
            <a href="#">ADCS: {{ OBC_curout }} mA</a>
          </li>
          <li>
            <a href="#">EPS VBatt: {{ OBC_curout }} mV</a>
          </li>
          <li>
            <a href="#">cursys: {{ cursun }} mA</a>
          </li>
          <li>
            <a href="#">cursun: {{ cursys }} mA</a>
          </li>
        </ul>
      </li>

      <!--Menú de BOOT Count-->
      <li>
        <a
          href="#bootSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          Boot Count
        </a>
        <ul class="collapse list-unstyled" id="bootSubmenu">
          <li>
            <a href="#">ADCS Boot counter:  {{ ADCS_boot_count }}</a>
          </li>
          <li>
            <a href="#">OBC Boot Count:  {{ OBC_boot_count }}</a>
          </li>
          <li>
            <a href="#">EPS Boot Count:  {{ EPS_boot_count }}</a>
          </li>
          <li>
            <a href="#">CAM Boot Count:  {{ CAM_boot_count }}</a>
          </li>
          <li>
            <a href="#">COM Boot Count:  {{ COM_boot_count }}</a>
          </li>
        </ul>
      </li>

      <!--Menú de MISC-->
      <li>
        <a
          href="#miscSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          MISC
        </a>
        <ul class="collapse list-unstyled" id="miscSubmenu">
          <li>
            <a href="#">image-count: {{ image_count }}</a>
          </li>
          <li>
            <a href="#">gps_pos[0]: {{ gps_pos0 }}</a>
          </li>
          <li>
            <a href="#">gps_pos[1]: {{ gps_pos1 }}</a>
          </li>
          <li>
            <a href="#">gps_pos[2]: {{ gps_pos2 }}</a>
          </li>
          <li>
            <a href="#">COM Boot Count:  {{ COM_boot_count }}</a>
          </li>
          <li>
            <a href="#">cntWdtGnd: {{ cntWdtGnd }}</a>
          </li>
          <li>
            <a href="#">wdtGndS: {{ wdtGndS }}</a>
          </li>
        </ul>
      </li>
      <div class="sidebar-header">
        <img src="./assets/CITAE.png" alt="" width="150" height="150" />
      </div>



     
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span></span>
        </button>
        <button
          class="btn btn-dark d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a
                class="nav-link"
                href="#"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
                Home
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/adcs"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
                ADCS Control
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="adcs-sensors"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
                ADCS Sensors
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/ax100"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
                AX100
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/cam"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
                CAM
              </a>
            </li>
            <li class="nav-item active">
              <a
                class="nav-link"
                href="/eps"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
                EPS
              </a>
            </li>
            <li class="nav-item active">
              <a
                class="nav-link"
                href="/obc"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
                OBC
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <router-outlet></router-outlet>
        <!--
        <app-eps> </app-eps>
        <app-eps> </app-eps>-->
    </div>
    
    
  </div>
</div>
