<!-- =====================================================================================-->

<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <!--<img src="./assets/facsat.png" alt="" width="150" height="150" />-->
    </div>

    <ul class="list-unstyled components">
      <p>DASHBOARD</p>
      <li class="active">
        <a
          href="#COMSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          COM status
        </a>
        <ul class="collapse list-unstyled" id="COMSubmenu">
          <li>
            <a href="#">Total rx bytes: {{ tot_rx_count }}</a>
          </li>
          
        </ul>
      </li>
      

    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span></span>
        </button>
        <button
          class="btn btn-dark d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a
                class="nav-link"
                href="/M1"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
                Home
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/M1"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
                MAQUINA 1
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/M2"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
                MAQUINA 2
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/M3"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
                MAQUINA 3
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/M4"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
                MAQUINA 4
              </a>
            </li>
            <li class="nav-item active">
              <a
                class="nav-link"
                href="/eps"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
              MAQUINA 5
              </a>
            </li>
            <li class="nav-item active">
              <a
                class="nav-link"
                href="/obc"
                style="
                  color: white;
                  border-radius: 25%;
                  margin-left: 10px;
                  margin-right: 10px;
                "
              >
              MAQUINA 6
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <router-outlet></router-outlet>
        <!--
        <app-eps> </app-eps>
        <app-eps> </app-eps>-->
    </div>
    
    
  </div>
</div>
