<!--=========================================================-->
<!-- primer fila de graficas-->
<!-- ========================================================-->  

<div class="container-fluid-graph"></div>
  <!--======================================================-->
  <div class="row">
    <div class="col col-12 col-md">
      <div echarts [options]="optionComTemp" class="chart"></div>
    </div>
    <div class="col col-12 col-md">
      <div echarts [options]="optionS2" class="chart"></div>
    </div>
  </div>
  
  <div class="row" id="date-range">    
  <!--=========================================================-->
  <!-- Barra de herramientas Mode Status-->
  <!-- ========================================================-->
    <div class="col col-1 col-md-2 col-sm-6" style="height: 50px;">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            Start Date
          </span>
          <input
            type="datetime-local"
            class="form-control"
            name="ComTempStartDate"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="inputComTempStartDate"
            (ngModelChange)="btnComTemp(4)"
          />
        </div>
      </div>
  
      <div class="col col-1 col-md-2" style="height: 50px;">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">End Date</span>
          <input
            type="datetime-local"
            class="form-control"
            name="ComTempEndDate"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="inputComTempEndDate"
            (ngModelChange)="btnComTemp(5)"
          />
        </div>
      </div>
  
      <div class="col col-1 col-md-2" style="height: 50px;">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="btnComTemp(7)"
        >
          1 week
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="btnComTemp(3)"
        >
          3 day
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          (click)="btnComTemp(1)"
        >
          24h
        </button>
      </div>
    <!--=========================================================-->
    <!-- Barra de herramientas ADCS Wheels-->
    <!-- ========================================================-->
    
    <div class="col col-1 col-md-2 col-sm-6" style="height: 50px;">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            Start Date
          </span>
          <input
            type="datetime-local"
            class="form-control"
            name="ComRxStartDate"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="inputComRxStartDate"
            (ngModelChange)="btnComRx(4)"
          />
        </div>
      </div>
  
      <div class="col col-1 col-md-2" style="height: 50px;">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">End Date</span>
          <input
            type="datetime-local"
            class="form-control"
            name="ComRxEndDate"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="inputComRxEndDate"
            (ngModelChange)="btnComRx(5)"
          />
        </div>
      </div>
  
      <div class="col col-1 col-md-2" style="height: 50px;">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="btnComRx(7)"
        >
          1 week
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="btnComRx(3)"
        >
          3 day
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          (click)="btnComRx(1)"
        >
          24h
        </button>
      </div>
</div>
<!--=========================================================-->
<!-- segunda fila de graficas-->
<!-- ========================================================-->  

<div class="container-fluid-graph"></div>
  <!--======================================================-->
  <div class="row">
    <div class="col col-12 col-md">
      <div echarts [options]="optionS3" class="chart"></div>
    </div>
    <div class="col col-12 col-md">
      <div echarts [options]="optionS4" class="chart"></div>
    </div>
  </div>
  
  <div class="row" id="date-range">    
  <!--=========================================================-->
  <!-- Barra de herramientas Mode Status-->
  <!-- ========================================================-->
    <div class="col col-1 col-md-2 col-sm-6" style="height: 50px;">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            Start Date
          </span>
          <input
            type="datetime-local"
            class="form-control"
            name="ComOtherpStartDate"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="inputComOtherStartDate"
            (ngModelChange)="btnComOther(4)"
          />
        </div>
      </div>
  
      <div class="col col-1 col-md-2" style="height: 50px;">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">End Date</span>
          <input
            type="datetime-local"
            class="form-control"
            name="ComOtherEndDate"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="inputComOtherEndDate"
            (ngModelChange)="btnComOther(5)"
          />
        </div>
      </div>
  
      <div class="col col-1 col-md-2" style="height: 50px;">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="btnComOther(7)"
        >
          1 week
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="btnComOther(3)"
        >
          3 day
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          (click)="btnComOther(1)"
        >
          24h
        </button>
      </div>
    <!--=========================================================-->
    <!-- Barra de herramientas ADCS Wheels-->
    <!-- ========================================================-->
    
    <div class="col col-1 col-md-2 col-sm-6" style="height: 50px;">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            Start Date
          </span>
          <input
            type="datetime-local"
            class="form-control"
            name="ComTxStartDate"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="inputComTxStartDate"
            (ngModelChange)="btnComTx(4)"
          />
        </div>
      </div>
  
      <div class="col col-1 col-md-2" style="height: 50px;">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">End Date</span>
          <input
            type="datetime-local"
            class="form-control"
            name="ComTxEndDate"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="inputComTxEndDate"
            (ngModelChange)="btnComTx(5)"
          />
        </div>
      </div>
  
      <div class="col col-1 col-md-2" style="height: 50px;">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="btnComTx(7)"
        >
          1 week
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="btnComTx(3)"
        >
          3 day
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          (click)="btnComTx(1)"
        >
          24h
        </button>
      </div>
</div>
